<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/payment/results">
    <label for="number_2">APR</label>
    <input id= "number_2" type = "text" placeholder="E.g. 5.42" name="user_apr">

    <label for="number_3">Number of years</label>
    <input id= "number_3" type = "text" placeholder="How many years to repay" name="user_years">

    <label for="number_4">Principal</label>
    <input id= "number_4" type = "text" placeholder="How much principal" name="user_principal">

    <button> Calculate monthly payment </button>
  </form>
</body>
</html>
