<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/random/results">
    <label for="number_2">Minimum</label>
    <input id= "number_2" type = "text" placeholder="E.g. 1.5" name="user_min">

    <label for="number_3">Maximum</label>
    <input id= "number_3" type = "text" placeholder="E.g. 4.5" name="user_max">

    <button> Pick random number</button>
  </form>
</body>
</html>
