<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/square_root/results">
    <label for="number_1">Enter a number</label>
    <input id= "number_1" type = "text" placeholder="What number do you want to square root" name="durkio">
    <button> Calculate square root</button>
  </form>
</body>
</html>
